h1 {
	margin:25px;
	margin-bottom: 0px;
	color:#A10FA6;
	text-align: center;
	font-style: arial;
}

h2{
	color:#A10FA6;
	text-align: center;
	font-style: arial;
}

img {
	display: block;
  margin: 0 auto;
	height:300px;
	width:275px;
	margin-bottom:50px;
}

h4 {
	color:lightblue;
	height:12px;
	text-align: center; 
}

