body {
	background-image: url(https://s-media-cache-ak0.pinimg.com/564x/64/ca/b4/64cab4415099e41ea460024c0ef43c4c.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	background-attachment: fixed;
	background-size: cover;
}

.class2 {
	font size: 20px;
	text-align: center;
	color: #BA87AE;
	background-color: white;
	font-family: arial;
	margin-top: 350px;
}

h1 span {
	color: #efa7ac;
	font: 50px Monaco, MonoSpace;
	height: 200px;
	position: absolute;
	width: 20px;
	left: 0;
	top: 0;
	transform-origin: bottom center;
	margin-left: 630px;
	margin-top: 70px;
}

.char1 { transform: rotate(-72deg); }
.char2 { transform: rotate(-60deg); }
.char3 { transform: rotate(-48deg); }
.char4 { transform: rotate(-36deg); }
.char5 { transform: rotate(-24deg); }
.char6 { transform: rotate(-12deg); }

.char8 { transform: rotate(12deg); }
.char9 { transform: rotate(24deg); }
.char10 { transform: rotate(36deg); }
.char11 { transform: rotate(48deg); }
.char12 { transform: rotate(60deg); }
.char13 { transform: rotate(72deg); }